<form class="login-form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control mx-sm-3" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword6">Password</label>
        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" name="password">
        <div id="validationServer03Feedback" class="invalid-feedback">
            Usuario o contraseña incorrecta.
        </div>
    </div>
    <button id="btn-login" class="btn btn-primary">Submit</button>
</form>