.contacts-title
    display: block
    margin: auto
    font-family: $font-openSans
    text-align: center
.contact-search-container
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 1em
    .input-cont
        display: flex
        flex-direction: row
        justify-content: end
        width: 50%
        margin-left: 0
        margin-bottom: 2em
    .btn
        height: 38px
        margin-right: 1em

.form-container
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(232, 232, 232, 0.9)
    .contact-form
        font-family: $font-openSans