.contacts-title
    display: block
    margin: auto
    font-family: $font-openSans
    text-align: center
.contact-search-container
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 1em
    .input-cont
        display: flex
        flex-direction: row
        justify-content: end
        width: 50%
        margin-left: 0
        margin-bottom: 2em
    .btn
        height: 38px
        margin-right: 1em

.form-container
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(232, 232, 232, 0.9)
    .close-btn
        display: block
        background: none
        border-style: none
        position: absolute
        top: 5em
        right: 10em
        text-decoration: none
        .fa-times
            display: block
            color: #007bff
            font-size: 25px
            transition: all 0.2s ease-in
    .close-btn:hover
        .fa-times
            color: #dc3545
    .contact-form
        font-family: $font-openSans
        width: 100%
        height: 80%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        .grupo-inputs
            display: flex
            width: 50%
            justify-content: space-between
            align-items: center
        .region-select-container
            display: flex
            justify-content: space-between
            .input-group
                margin: 1em

.form-contenedor
    position: absolute
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(232, 232, 232, 0.9)
    .close-btn
        display: block
        background: none
        border-style: none
        position: absolute
        top: 5em
        right: 10em
        text-decoration: none
        .fa-times
            display: block
            color: #007bff
            font-size: 25px
            transition: all 0.2s ease-in
    .close-btn:hover
        .fa-times
            color: #dc3545
    .contact-form
        font-family: $font-openSans
        width: 100%
        height: 80%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        .grupo-input
            display: flex
            width: 50%
            justify-content: space-between
            align-items: center
        .region-select-container
            display: flex
            justify-content: space-between
            .input-group
                margin: 1em

.active
    display: flex

.contador
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    font-family: $font-openSans
    color: #007bff
    top: 10.2em
    left: 1em
    border: 1px #007bff solid
    height: 32px
    width: 80px
    border-radius: 5px 5px 0 0
    visibility: hidden
    h6
        margin: auto
        font-size: 12px

.btn-cont
    position: absolute
    top: 8em
    right: 15em
    visibility: hidden

.active-count
    visibility: visible

.arrows
    width: 35px
    cursor: pointer

.rows-content
    cursor: pointer

.order-btn
    border: none
    background: none

