.region-container
    display: flex
    height: auto
    width: 100%
    justify-content: space-between
    margin: auto
    padding-top: 1em
    .tree-container
        font-family: $font-openSans
        font-size: 20px
        width: 100%
        ul
            li
                display: block
                width: 100%
                .btn
                    height: 25px
                    text-align: center
                    line-height: 0
                    margin-left: 2em
                    font-size: 10px
    .control-container
        margin-right: 1em
