.users-table
    display: flex
    width: 100%
    height: auto
    flex-direction: column
    justify-content: space-between
    align-items: center
    .users-title
        font-family: $font-openSans
        text-align: center
    .agregate_user_container
        height: 5vh
        width: 80%
        display: block
        justify-content: space-between

