@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')

.main-signup
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 70vh
    font-family: 'Open Sans', sans-serif
    h1
        margin-bottom: 1em